<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

	<timestamp key="bySecond" datePattern="yyyyMMddHHmmss" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<file>gerenciarmensagem.log</file>
			
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>gerenciarmensagem.log-%d{yyyy-MM-dd}.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		
		<encoder>
			<pattern>[%d] [%-5level] [%thread] %class.%method\(\) \(%F:%line\) %n%msg%n----------------------------------------------------------------------------------------------------------------%n</pattern>
		</encoder>
	</appender>

	<logger name="br.net.oi.intranet.gerenciadormensagens.web" level="INFO" >
		<appender-ref ref="FILE"/>
	</logger>
	
	<logger name="org.springframework" level="WARN">
    	<appender-ref ref="FILE"/>
	</logger>
	
	<logger name="java.sql" level="WARN">
    	<appender-ref ref="FILE"/>
	</logger>
	 
</configuration>