<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Cliente</title>
</head>
<body>
<form method="post" action="#">
<h2> Inserir Cliente</h2>	
<div class=""><input type="text" name="Nome" placeholder="Name" /></div>
<div class=""><input type="text" name="Endereco" placeholder="Name" /></div>
<div class=""><input type="text" name="Telefone" placeholder="Telefone" /></div>
<div class=""><input type="text" name="Telefone_Comercial" placeholder="Telefone_comercial" /></div>
<div class=""><input type="text" name="Telefone_Celular" placeholder="Telefone_Celular" /></div>
<div class=""><input type="text" name="Email" placeholder="Email" /></div>
<div class=""><input type="text" name="Codigo_hotel" placeholder="Codigo do hotel" /></div>
<div class=""><input type="text" name="CPF_cliente" placeholder="Cpf" /></div>
<div class=""><input type="text" name="Data_Nascimento" placeholder="Data de Nascimento" /></div>
<div class=""><input type="text" name="Cod_Quarto" placeholder="Codigo do Quarto" /></div>
<div class=""><input type="text" name="Cod_Pessoa" placeholder="Codigo de Pessoa" /></div>
<div class="">
<input type="submit" value="Inserir" />
</div>
</form>
<h2> Deletar Cliente</h2>
<form method="post" action="#">	
<div class=""><input type="text" name="delCodigo_Cliente" placeholder="Codigo do Cliente" /></div>
<input type="submit" value="Deletar" />
</form>
<h2> Alterar Cliente</h2>	
<form method="post" action="#">
<div class=""><input type="text" name="altNome" placeholder="Name" /></div>
<div class=""><input type="text" name="altEndereco" placeholder="Name" /></div>
<div class=""><input type="text" name="altTelefone" placeholder="Telefone" /></div>
<div class=""><input type="text" name="altTelefone_Comercial" placeholder="Telefone_comercial" /></div>
<div class=""><input type="text" name="altTelefone_Celular" placeholder="Telefone_Celular" /></div>
<div class=""><input type="text" name="altEmail" placeholder="Email" /></div>
<div class=""><input type="text" name="altCodigo_hotel" placeholder="Codigo do hotel" /></div>
<div class=""><input type="text" name="altCPF_cliente" placeholder="Cpf" /></div>
<div class=""><input type="text" name="altData_Nascimento" placeholder="Data de Nascimento" /></div>
<div class=""><input type="text" name="altCod_Quarto" placeholder="Codigo do Quarto" /></div>
<div class=""><input type="text" name="altCod_Pessoa" placeholder="Codigo de Pessoa" /></div>
<div class="">
<input type="submit" value="Alterar" />
</div>
</form>
<h2> Listar Clientes</h2>	

<h2> Pesquisar Clientes</h2>	
<form method="post" action="#">	
<div class=""><input type="text" name="pesqCodigo_Cliente" placeholder="Codigo do Cliente" /></div>
<input type="submit" value="Pesquisar" />
</form>
</body>
</html>